@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:"Comic Sans MS";
    src:url("/fonts/ComicSansMS.woff2") format("woff2");
    font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family:"Comic Sans MS";
    src:url("/fonts/ComicSansMS-Bold.woff2") format("woff2");
    font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"Comic Sans MS";
    src:url("/fonts/ComicSansMS-BoldItalic.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family:"Comic Sans MS";
    src:url("/fonts/ComicSansMS-Italic.woff2") format("woff2");
    font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
    font-family: 'Arial';
    src: url('/fonts/ArialMT.woff2') format('woff2');
    font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial-BoldMT.woff2') format('woff2');
    font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}
@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial-ItalicMT.woff2') format('woff2');
    font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}
@font-face {
    font-family: 'Arial';
    src: url('/fonts/Arial-BoldItalicMT.woff2') format('woff2');
    font-display:swap;font-style:italic;font-weight:700;font-stretch:normal;
}
